.container{
    width: calc(50% - 60px);
    padding: 50px 30px;
    float: left;
    margin: auto;
}

h1, h2{
    text-align: center;
    font-family: sans-serif;
    color: blue;
    font-weight: bold;
}

.aggiungi{
    display: flex;
    justify-content: center;
}

select, input, button{
    margin: 0 15px;
}
